.secretary-card {
  display: flex;
  align-items: center;
  background-color: #FFF0E0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px 40px;
}

.secretary-image {
  border-radius: 50%;
  margin-right: 15px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.secretary-info {
  font-size: 14px;
}

.secretary-name {
  font-weight: bold;
  font-size: 16px;
}

.secretary-title {
  font-size: 14px;
}