.user-page{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 20px;
}

.material-symbols-outlined.sun {
  font-size: 48px;
  margin: 5px;
}

.sun.gray {
  color: gray;
}

.sun.yellow {
  color: rgb(255, 208, 0);
}

.sun-count{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.edit-button-student {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.edit-form-overlay-student {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;
}

.edit-form-student {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  width: 700px;
}

.edit-form-student h2 {
  margin-bottom: 20px;
}

.edit-form-student form {
  display: flex;
  flex-direction: column;
}

.edit-form-student label {
  margin-bottom: 10px;
}

.edit-form-student input[type="text"],
.edit-form-student input[type="email"],
.edit-form-student input[type="date"] {
  padding: 8px;
  margin-bottom: 10px;
  font-size: 16px;
}

.edit-form-student input[type="checkbox"] {
  margin-bottom: 10px;
}

.edit-form-student button {
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}